.Footer_List{
  display:flex ;
  align-items: center;
  justify-content: space-between;

  list-style: none;
}

.line3{
  width: 1300px;
  height: 2px;
  display: inline-block;
  background-color: #21262D;
}